* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "monsterrat", sans-serif;
    background-image: url("./img/skyline2.gif");
    background-size: cover;
    background-position: top center;

}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    border: 1px solid red;
}

.app-outline {
    border: 1px solid blue;
    /* min-height: 500px; */
    width: 800px;
    height: 800px;
    background-color: rgba(164, 51, 51, 0.5);
    background-image: url("bg2.gif");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: .2s ease-out;

}

header input:focus {
    background-color: rgba(255, 255, 255, .6);

}

main {
    flex: 1 1 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #fff;
    font-size: 16px;
}

.current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 20px 12px rgba(0, 0, 0, .6);
}

.current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px;
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, .4);
}

.current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, .4);
}